<!DOCTYPE html>
<html>

  {% include head.html %}
  <!-- Document Settings -->
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />

      <!-- Base Meta -->
      ...
      ...

      <!-- 웹 폰트 설정 -->
      <link rel="stylesheet"
            href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css">

      <!-- syntax.css -->
      <link rel="stylesheet" href="/css/syntax.css">
  <body>

    {% include header.html %}

    <div class="page-content">
        {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
